__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.coverage*

# Virtual envs
.env
.venv
env/
venv/

# Local settings / secrets
*.env
*.log

# OS/IDE noise
.DS_Store
Thumbs.db
.idea/
.vscode/

# Build / dist
build/
dist/
*.egg-info/

# Docker
docker-compose.override.yml
.docker/
docker-volumes/
logs/

docs/**